import requests
from datetime import datetime
from pyspark.sql.functions import col, when, regexp_replace
import os
from msal import ConfidentialClientApplication
from office365.graph_client import GraphClient
import pandas as pd
from io import BytesIO
from openpyxl import load_workbook
from openpyxl.styles import Protection
from datetime import datetime